.hero {
  text-align: center;
  min-height: 100vh;
  h1 {
    font-family: var(--ff-branding);
  }
  h2 {
    font-family: var(--ff-heading);
  }
  p {
    font-family: var(--ff-text);
  }
  span {
    font-family: var(--ff-branding);
  }
}
