---
import { hero } from '../data.js'
import './hero.css'

interface Props {
	branding?: string
	text?: string
	heading?: string
	ui?: string
}

const { branding = hero.branding, text = hero.text, heading = hero.heading, ui = hero.ui } = Astro.props
---

<section class="hero">
	<h1>{branding}</h1>
	<h2>{heading}</h2>
	<p>{text}</p>
	<span>{ui}</span>
</section>